# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
local_settings.py

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations (optional — keep this if you don't want migrations in Git)
# **/migrations/
# !**/migrations/__init__.py

# Coverage
htmlcov/
.coverage
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# Backup files
*~
*.bak
*.swp
*.swo

__pycache__/
*.py[cod]

*/cpython/
cpython/

*.cpython-*.pyc
